@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root{
    background-color: rgba(26, 29, 26, 0.151)
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Prompt', sans-serif;
}

h1{
    font-size:5.4rem;
    color: rgb(5, 10, 85);
    margin-bottom: 5rem;
}
h2{
    font-size:4.2rem;
    margin-bottom: 4rem;
}
body {
    margin: 0;
    padding: 100;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 200px;
    /* max-height: 100px; */
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.hidden {
    display:none;
}

.checkboxes {
    font-size:4rem;
    
}

.btn{
    font-size:2.2rem;
    padding: 2rem 0;
    width: 20rem ;
    text-align: center;
    margin-bottom: 30rem;
    text-decoration: none;
    color: rgb(10, 10, 10);
    background: linear-gradient(90deg, rgba(46, 136, 245, 0.623) 0%, rgba(46, 136, 245, 0.589) 100%);
    border-radius: 2px;

}
.btn:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8,114,244,0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.int{
    font-size:2.4rem;
    padding: 2rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 30rem;
    text-decoration: none;
    color: rgb(10, 10, 10);
    background: linear-gradient(90deg, rgba(219, 226, 235, 0.623) 0%, rgba(219, 226, 235, 0.623) 100%);
    border-radius: 2px;
}
#question6{
    font-size:3.4rem;
    text-align: left;
    margin-bottom: 5rem;
    max-width: 80rem
}

#input-el {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-color: #5f9341;
    width: 100%;
    /* height: 30; */
    box-sizing: border-box;
    /* text-align: center; */
}



button {
    background-color: #5f9341;
    color: white;
    cursor: pointer;
    border: 1px solid #5f9341;
    margin-top: 2px;
    margin-right: 2px;
    /* text-align: center; */
    padding: 10px 20px;
    font-weight: bold;
}

#delete-btn {
    color: #5f9341;
    background-color: white;
    cursor: pointer;
    /* border: 1px  ; */
    margin-top: 2px;
    margin-right: 2px;
    /* text-align: center; */
    padding: 10px 20px;
    font-weight: bold;

}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding-bottom: 4px;
}

li a {
    color: #5f9341;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}
.carimage {
    width:200px;
    height: 200px;
    background-image: url(img/lane.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}